<h1>New personaje</h1>

<p><a asp-controller="Personajes" asp-action="Index">back index</a></p>


<form method="post">

    <label>Id Doctor</label>
    <input type="number" class="form-control" name="id" />

    <label>Apellido</label>
    <input type="text" class="form-control" name="nombre" />

    <label>Especialidad</label>
    <input type="text" class="form-control" name="imagen" />

    

    <button class="btn btn-info">Create Personaje</button>

</form>